<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Contact me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

  <meta name="description" content="The responsive">
  <meta name="author" content="Bianca de Paula">
</head>

<body>


  <nav class="navbar navbar-toggleable-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img class="logo" src="../img/yourlogo.png"></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a class="nav-link active" href="index.html">Home</a>
          <a class="nav-link" href="about.html">About</a>
          <a class="nav-link" href="contact.html">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <!---end nav-->

  <div class="container text-center">
    <!---begin content-->
    <h2>Get in contact with me</h2>
    <hr>
    <p>Fill the form below and learn more.</p>
  </div>

  <div class="container justify-content-center d-flex">
    <div class="col-sm-6">
      <div class="form-area">
        <form role="form">
          <br style="clear:both">
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
            <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
          </div>

          <button type="button" id="submit" name="submit" class="btn btn-primary ">Submit Form</button>
        </form>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <div class="row">
      <div class="col-sm-4">
        <h4>Contact us</h4>
        <br>
        <p>Our adress and contact info here</p>
      </div>

      <div class="col-sm-4">
        <h4>Connect with us</h4>
        <a href="#" class="fa fa-facebook fa-2x"></a>
        <a href="#" class="fa fa-twitter fa-2x"></a>
        <a href="#" class="fa fa-pinterest fa-2x"></a>
        <a href="#" class="fa fa-linkedin fa-2x"></a>
      </div>

      <div class="col-sm-4">
        <img src="../img/message.png">
      </div>
    </div>
  </footer>

  <script src="/JS/contact.js"></script>


</body>

</html>